<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.augustine.collegeplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AttendanceActivity"
            android:label="@string/title_activity_attendance"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AttendanceSettingsActivity"
            android:label="@string/attendance_settings"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AttendanceActivity" />
        </activity>
        <activity android:name=".AttendanceInfo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AttendanceActivity" />
        </activity>
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <service
            android:name=".MyNewIntentService"
            android:exported="false" >
        </service>
        <receiver
            android:name=".CustomNotificationReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <service
            android:name=".MyNewCustomIntent"
            android:exported="false" >
        </service>
    </application>

</manifest>